:root {
  --dark-bg-color: rgb(44, 43, 43);
  --dark-color: rgb(19, 17, 17);
  --dark-input-color: rgb(15, 15, 15);
  --dark-input-bg-color: rgb(142, 138, 138);
 --form-background: var(--black-02, #2D2F30);

}
.dark-theme #change-theme{
background-color: rgb(46, 44, 44);
}
.dark-theme .account-form{
    background: var(--black-03, #2D2F30); ;
}
.dark-theme .account-form #password-field1 {
    background: var(--black-03, #414344);
    border: none;
   box-shadow: none;
}

.dark-theme .account-form #name-field {
   background: var(--black-03, #414344);
   border: none;
   box-shadow: none;
}

.dark-theme .account-form #email-field1 {
   background: var(--black-03, #414344);
   border: none;
   box-shadow: none;
}

.dark-theme .account-form #password-field2 {
   background: var(--black-03, #414344);
   border: none;
   box-shadow: none;
}
.dark-theme .account-form h1{
color: white;
}
.dark-theme .account-form p{
color: white;
}
.dark-theme .account-form label{
color: white;
}
.dark-theme .checkbox-container1 a{
    color: white;
}
.dark-theme .account-form input::placeholder{
color: black;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form-create-container{
display: flex;
width: 100vw;
height: 100vh;
background: var(--light-grey-02, #FBFAFA);
}
.bear{
    width: 50%;
    height: 100vh;
    background-image: url(media/bear.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5%;
}
.account-form{
  width: 30vw;
 height: 95vh;
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 3% 4%;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(215, 215, 215, 0.25);
margin: 3% 10%;
}

.account-form img{
    width: 80%;
}

.account-form h1{
width: 70%;
font-size: 2rem;
}

.account-form hr{
width: 100%;
height: 1px;
background: #EFEFEF;
margin-bottom: 7%;
}
.account-form p{
    width: 100%;
    color: var(--black-04, #676767);
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 7%;
}
.icon-container1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;

}
.icon-container1 img{
    width:15%;
    object-fit: contain;
    cursor: pointer;
    padding: 10px;

}

.icon-container1 img:hover{
    transform: scale(1.6);
}

.account-form label{
width: 100%;
color: var(--black-03, #414344);
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5%;
}


.account-form #password-field1, #email-field1, #name-field, #password-field2{
    height: 20%;
    width: 100%;
    background: var(--light-grey-01, #FCFCFC);
    color: var(--black-03, #414344);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    border-radius: 10px;
   background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(215, 215, 215, 0.25);
    margin-bottom: 7%;
    border: solid 2px rgba(121, 117, 117, 0.25);
}
.account-form input::placeholder{
    padding-left: 5%;
}

.checkbox-container1{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    margin-bottom: 10%;
}
#agree{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.labelTerms:hover{
    transform: scale(1.8);
}
.labelTerms a{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Inter;
  
    color: blue;
    margin-left: 4%;
}
.register-button{
height: 30%;
border-radius: 4px;
background: var(--blue-01, #0A55C6);
color: var(--light-grey-01, #FCFCFC);
font-size: 1.5rem;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
}
.register-button:hover{
  transform: scale(1.1);
}